Repository bounswe/bounswe2020group1, pull requests merged in 2020-11, with the labels that each got.

#170 expandable menu added
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/ExpandableListAdapter.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/HomePageActivity.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/gallery/GalleryFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/gallery/GalleryViewModel.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/home/HomeFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/home/HomeViewModel.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/slideshow/SlideshowFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/slideshow/SlideshowViewModel.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/login/LoginActivity.kt
  Android/TursuApp/app/src/main/res/drawable/hamburger.png
  Android/TursuApp/app/src/main/res/drawable/ic_menu_camera.xml
  Android/TursuApp/app/src/main/res/drawable/ic_menu_gallery.xml
  Android/TursuApp/app/src/main/res/drawable/ic_menu_slideshow.xml
  Android/TursuApp/app/src/main/res/drawable/side_nav_bar.xml
  Android/TursuApp/app/src/main/res/layout/activity_home_page.xml
  Android/TursuApp/app/src/main/res/layout/app_bar_main.xml
  Android/TursuApp/app/src/main/res/layout/content_main.xml
  Android/TursuApp/app/src/main/res/layout/fragment_gallery.xml
  Android/TursuApp/app/src/main/res/layout/fragment_home.xml
  Android/TursuApp/app/src/main/res/layout/fragment_slideshow.xml
  Android/TursuApp/app/src/main/res/layout/list_group.xml
  Android/TursuApp/app/src/main/res/layout/list_item.xml
  Android/TursuApp/app/src/main/res/layout/nav_header_main.xml
  Android/TursuApp/app/src/main/res/menu/activity_main_drawer.xml
  Android/TursuApp/app/src/main/res/menu/home_page.xml
  Android/TursuApp/app/src/main/res/navigation/mobile_navigation.xml
  Android/TursuApp/app/src/main/res/values/dimens.xml
Labels: android, type:enhancement

#171 Backend feature/product
  tursu/product_page/__init__.py
  tursu/product_page/admin.py
  tursu/product_page/apps.py
  tursu/product_page/models.py
  tursu/product_page/tests.py
  tursu/product_page/urls.py
  tursu/product_page/views.py
  tursu/tursu/urls.py
Labels: backend, priority:high

#162 Feature/signin signup reset frontend
  .idea/.gitignore
  .idea/.name
  .idea/bounswe2020group1.iml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  Frontend/tursu/debug.log
  Frontend/tursu/package-lock.json
  Frontend/tursu/src/App.js
  Frontend/tursu/src/ForgotPassword.js
  Frontend/tursu/src/Login.js
  Frontend/tursu/src/Registration.js
  Frontend/tursu/src/Sign.js
  Frontend/tursu/src/customer_registration.js
  Frontend/tursu/src/rsz_11logo.png
  Frontend/tursu/src/sign_components.css
  Frontend/tursu/src/vendor_registration.js
Labels: priority:high, status:new, type:code-review

#168 Android interface/forgotPassword
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/forgotpassword/ForgotPasswordActivity.kt
  Android/TursuApp/app/src/main/res/layout/activity_forgotpassword.xml
Labels: android, priority:medium

#181 Android interface/home page
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/home/HomeFragment.kt
  Android/TursuApp/app/src/main/res/drawable/product1.xml
  Android/TursuApp/app/src/main/res/layout/fragment_home.xml
  Android/TursuApp/app/src/main/res/layout/product_layout.xml
Labels: android, type:enhancement

#188 Android interface/product page entegration
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/ApiService.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/responses/ProductDetailsResponse.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/ExpandableListAdapter.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/HomePageActivity.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/home/HomeFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/productpage/ProductPageFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/login/LoginActivity.kt
  Android/TursuApp/app/src/main/res/layout/fragment_home.xml
  Android/TursuApp/app/src/main/res/layout/fragment_productpage.xml
Labels: android, type:enhancement

#192 frontend-feature/sign_in_sign_up_requests
  Frontend/tursu/.idea/.name
  Frontend/tursu/src/Sign/Login.js
  Frontend/tursu/src/Sign/Sign.js
  Frontend/tursu/src/Sign/customer_registration.js
  Frontend/tursu/src/vendor_registration.js
Labels: frontend, priority:high, status:completed, type:implementation

#195 android-feature/search
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/ApiService.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/HomePageActivity.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/home/HomeFragment.kt
  Android/TursuApp/app/src/main/res/layout/app_bar_main.xml
Labels: android, priority:high, status:completed

#204 Backend Customer Milestone 1
  backend/.dockerignore
  backend/Dockerfile
  backend/db.sqlite3
  backend/entrypoint.sh
  backend/home/apps.py
  backend/home/models.py
  backend/home/tests.py
  backend/home/urls.py
  backend/home/views.py
  backend/manage.py
  backend/product/__init__.py
  backend/product/admin.py
  backend/product/apps.py
  backend/product/models.py
  backend/product/tests.py
  backend/product/urls.py
  backend/product/views.py
  backend/product_page/__init__.py
  backend/product_page/admin.py
  backend/product_page/apps.py
  backend/product_page/models.py
  backend/product_page/tests.py
  backend/product_page/urls.py
  backend/product_page/views.py
  backend/registered_user/__init__.py
  backend/registered_user/admin.py
  backend/registered_user/apps.py
  backend/registered_user/auth_backend.py
  backend/registered_user/models.py
  backend/registered_user/tests.py
  backend/registered_user/urls.py
  backend/registered_user/views.py
  backend/requirements.txt
  backend/search/__init__.py
  backend/search/admin.py
  backend/search/apps.py
  backend/search/models.py
  backend/search/tests.py
  backend/search/urls.py
  backend/search/views.py
  backend/tursu/__init__.py
  backend/tursu/asgi.py
  backend/tursu/settings.py
  backend/tursu/urls.py
  backend/tursu/wsgi.py
  docker-compose -prod.yml
  docker-compose.yml
  nginx/Dockerfile
  nginx/nginx.conf
Labels: backend
