Repository bounswe/bounswe2020group1, pull requests merged in 2020-12, with the labels that each got.

#216 Backend Refactor / Database Models
  backend/comment/__init__.py
  backend/comment/admin.py
  backend/comment/apps.py
  backend/comment/models.py
  backend/comment/tests.py
  backend/comment/views.py
  backend/order/__init__.py
  backend/order/admin.py
  backend/order/apps.py
  backend/order/models.py
  backend/order/tests.py
  backend/order/views.py
  backend/product/models.py
  backend/registered_user/models.py
  backend/shopping_cart/__init__.py
  backend/shopping_cart/admin.py
  backend/shopping_cart/apps.py
  backend/shopping_cart/models.py
  backend/shopping_cart/tests.py
  backend/shopping_cart/views.py
  backend/shopping_list/__init__.py
  backend/shopping_list/admin.py
  backend/shopping_list/apps.py
  backend/shopping_list/models.py
  backend/shopping_list/tests.py
  backend/shopping_list/views.py
  backend/tursu/settings.py
Labels: backend, priority:high, type:code-review

#227 Backend feature/add product
  backend/product/tests.py
  backend/product/urls.py
  backend/product/views.py
  backend/registered_user/models.py
  backend/tursu/settings.py
Labels: backend, priority:high, type:code-review, type:enhancement

#221 Filtering and sorting functions are added
  backend/filter_sort/__init__.py
  backend/filter_sort/utils.py
Labels: backend, priority:low, type:enhancement, type:implementation

#232 Backend shopping cart
  backend/helper/__init__.py
  backend/helper/admin.py
  backend/helper/apps.py
  backend/helper/models.py
  backend/helper/tests.py
  backend/helper/urls.py
  backend/helper/views.py
  backend/shopping_cart/tests.py
  backend/shopping_cart/urls.py
  backend/shopping_cart/views.py
  backend/tursu/settings.py
  backend/tursu/urls.py
Labels: backend, priority:medium, status:completed, type:enhancement, type:implementation

#222 Backend refactor/search
  backend/requirements.txt
  backend/search/tests.py
  backend/search/views.py
Labels: backend, priority:low, type:enhancement, type:implementation

#229 Backend feature/shopping list
  backend/shopping_list/tests.py
  backend/shopping_list/urls.py
  backend/shopping_list/views.py
  backend/tursu/urls.py
Labels: backend, priority:low, type:enhancement, type:implementation

#230 Backend feature/edit delete product
  backend/product/tests.py
  backend/product/urls.py
  backend/product/views.py
Labels: backend, priority:low, type:enhancement, type:implementation

#244 Frontend feature/profile page
  Frontend/tursu/.idea/.name
  Frontend/tursu/debug.log
  Frontend/tursu/src/App.js
  Frontend/tursu/src/Profiles/CustomerProfilePage.js
  Frontend/tursu/src/Profiles/CustomerSidebar.js
  Frontend/tursu/src/Profiles/MyInfo.js
  Frontend/tursu/src/Profiles/MyLists.js
  Frontend/tursu/src/Profiles/MyOrders.js
  Frontend/tursu/src/Profiles/MyProducts.js
  Frontend/tursu/src/Profiles/VendorProfilePage.js
  Frontend/tursu/src/Profiles/VendorSidebar.js
  Frontend/tursu/src/Profiles/profile.css
Labels: frontend, priority:high, status:in-progress, type:code-review

#243 Frontend feature/shopping cart
  Frontend/tursu/public/index.html
  Frontend/tursu/src/App.js
  Frontend/tursu/src/Category.js
  Frontend/tursu/src/NavBar.js
  Frontend/tursu/src/ProductBox.js
  Frontend/tursu/src/ProductDetailPage.js
  Frontend/tursu/src/ProductList.js
  Frontend/tursu/src/ShoppingCart.js
  Frontend/tursu/src/Sign/Login.js
Labels: frontend, priority:high, status:completed

#252 Android interface/filtering
  Android/TursuApp/app/src/main/java/com/example/tursuapp/adapter/ExpandableListAdapter.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/adapter/ProductAdapter.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/adapter/VendorAdapter.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/ApiService.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/RequestService.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/responses/VendorResponse.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/HomePageActivity.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/account/AccountFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/account/AccountViewModel.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/gallery/GalleryFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/home/HomeFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/productpage/ProductPageFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/profile/ProfileFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/profile/ProfileViewModel.kt
  Android/TursuApp/app/src/main/res/drawable-v24/back_arrow.png
  Android/TursuApp/app/src/main/res/drawable-v24/bag.png
  Android/TursuApp/app/src/main/res/drawable-v24/credit_card.png
  Android/TursuApp/app/src/main/res/drawable-v24/ic_like.png
  Android/TursuApp/app/src/main/res/drawable-v24/location.png
  Android/TursuApp/app/src/main/res/drawable-v24/user.png
  Android/TursuApp/app/src/main/res/drawable-v24/x.png
  Android/TursuApp/app/src/main/res/drawable/edit_text_background.xml
  Android/TursuApp/app/src/main/res/drawable/ic_profile.png
  Android/TursuApp/app/src/main/res/drawable/ic_vendor.png
  Android/TursuApp/app/src/main/res/layout/activity_forgotpassword.xml
  Android/TursuApp/app/src/main/res/layout/app_bar_main.xml
  Android/TursuApp/app/src/main/res/layout/filter_popup_layout.xml
  Android/TursuApp/app/src/main/res/layout/fragment_account.xml
  Android/TursuApp/app/src/main/res/layout/fragment_customer_profile.xml
  Android/TursuApp/app/src/main/res/layout/fragment_gallery.xml
  Android/TursuApp/app/src/main/res/layout/fragment_home.xml
  Android/TursuApp/app/src/main/res/layout/fragment_productpage.xml
  Android/TursuApp/app/src/main/res/layout/list_group.xml
  Android/TursuApp/app/src/main/res/layout/list_view_items_check_boxes.xml
  Android/TursuApp/app/src/main/res/layout/vendor_layout.xml
  Android/TursuApp/app/src/main/res/navigation/mobile_navigation.xml
  Android/TursuApp/app/src/main/res/values/styles.xml
Labels: android, status:completed, type:enhancement, type:implementation

#259 Backend feature/order
  backend/order/models.py
  backend/order/urls.py
  backend/order/views.py
  backend/registered_user/views.py
  backend/tursu/urls.py
Labels: backend, priority:high, status:completed, type:code-review

#256 Backend feature/user pages comments
  backend/comment/urls.py
  backend/comment/views.py
  backend/customer_page/__init__.py
  backend/customer_page/admin.py
  backend/customer_page/apps.py
  backend/customer_page/models.py
  backend/customer_page/tests.py
  backend/customer_page/urls.py
  backend/customer_page/views.py
  backend/vendor_page/__init__.py
  backend/vendor_page/admin.py
  backend/vendor_page/apps.py
  backend/vendor_page/models.py
  backend/vendor_page/tests.py
  backend/vendor_page/urls.py
  backend/vendor_page/views.py
Labels: backend, priority:high, type:code-review

#266 Category filtering and sorting added
  backend/product/views.py
Labels: backend, type:enhancement, type:implementation

#262 Backend feature/admin for products
  backend/filter_sort/utils.py
  backend/product/models.py
  backend/registered_user/models.py
  backend/tursu/settings.py
  backend/tursu/urls.py
  backend/tursu_admin/__init__.py
  backend/tursu_admin/admin.py
  backend/tursu_admin/apps.py
  backend/tursu_admin/models.py
  backend/tursu_admin/tests.py
  backend/tursu_admin/urls.py
  backend/tursu_admin/views.py
Labels: backend, priority:high, type:enhancement, type:implementation

#235 Backend feature/recommendation
  backend/helper/utils.py
  backend/home/__init__.py
  backend/home/urls.py
  backend/home/views.py
Labels: backend, priority:low, type:enhancement, type:implementation

#261 Frontend bugfix/deletion in shopping list
  Frontend/tursu/src/App.js
  Frontend/tursu/src/ProductBox.js
Labels: frontend, priority:medium, type:bug

#274 edit profile
  backend/registered_user/urls.py
  backend/registered_user/views.py
Labels: backend, priority:high, status:completed, type:implementation

#280 Android feature/shopping list
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/ApiService.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/responses/AddListResponse.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/responses/AddToListResponse.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/responses/DeleteFromListResponse.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/responses/DeleteListResponse.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/responses/ListedProductsResponse.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/HomePageActivity.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/account/AccountFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/home/HomeFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/productpage/ProductPageFragment.kt
  Android/TursuApp/app/src/main/res/drawable/ic_baseline_add_circle_24.xml
  Android/TursuApp/app/src/main/res/drawable/ic_baseline_favorite_24.xml
  Android/TursuApp/app/src/main/res/drawable/ic_baseline_playlist_add_24.xml
  Android/TursuApp/app/src/main/res/layout/fragment_productpage.xml
  Android/TursuApp/app/src/main/res/layout/h_lists_popup_layout.xml
  Android/TursuApp/app/src/main/res/layout/lists_popup_layout.xml
  Android/TursuApp/app/src/main/res/values/strings.xml
Labels: android, priority:medium, status:completed, type:implementation

#282 Frontend feature/profile content
  Frontend/tursu/.idea/.name
  Frontend/tursu/debug.log
  Frontend/tursu/package-lock.json
  Frontend/tursu/package.json
  Frontend/tursu/src/App.js
  Frontend/tursu/src/Profiles/Customer/CustomerProfilePage.js
  Frontend/tursu/src/Profiles/Customer/CustomerSidebar.js
  Frontend/tursu/src/Profiles/Customer/EditInfoBox.js
  Frontend/tursu/src/Profiles/Customer/InfoBox.js
  Frontend/tursu/src/Profiles/Customer/MyInfo.js
  Frontend/tursu/src/Profiles/Customer/MyLists.js
  Frontend/tursu/src/Profiles/Customer/MyOrders.js
  Frontend/tursu/src/Profiles/Customer/OfferedProduct.js
  Frontend/tursu/src/Profiles/Customer/Order.js
  Frontend/tursu/src/Profiles/Customer/Product.js
  Frontend/tursu/src/Profiles/Customer/Summary.js
  Frontend/tursu/src/Profiles/Customer/profile.css
  Frontend/tursu/src/Profiles/MyInfo.js
  Frontend/tursu/src/Profiles/MyProducts.js
  Frontend/tursu/src/Profiles/Vendor/EditInfoBox.js
  Frontend/tursu/src/Profiles/Vendor/InfoBox.js
  Frontend/tursu/src/Profiles/Vendor/MyInfo.js
  Frontend/tursu/src/Profiles/Vendor/MyOrders.js
  Frontend/tursu/src/Profiles/Vendor/MyProducts.js
  Frontend/tursu/src/Profiles/Vendor/OfferedProduct.js
  Frontend/tursu/src/Profiles/Vendor/Order.js
  Frontend/tursu/src/Profiles/Vendor/Product.js
  Frontend/tursu/src/Profiles/Vendor/Summary.js
  Frontend/tursu/src/Profiles/Vendor/VendorProfilePage.js
  Frontend/tursu/src/Profiles/Vendor/VendorSidebar.js
  Frontend/tursu/src/Profiles/Vendor/profile.css
  Frontend/tursu/src/ShoppingCart.js
  Frontend/tursu/src/Sign/Login.js
Labels: frontend, priority:high, status:in-progress, type:implementation

#286 Frontend feature/add comment
  Frontend/tursu/src/Profiles/Customer/Product.js
Labels: frontend, priority:medium, status:completed, type:implementation

#284 Backend feature/google auth
  backend/registered_user/urls.py
  backend/registered_user/views.py
Labels: backend, priority:high, type:code-review, type:enhancement

#288 Implementation of Add Product, Checkout Pages, Google Login Draft
  Frontend/tursu/src/AddressForm.js
  Frontend/tursu/src/App.js
  Frontend/tursu/src/Checkout.js
  Frontend/tursu/src/DeleteProduct.js
  Frontend/tursu/src/EditProduct.js
  Frontend/tursu/src/PaymentForm.js
  Frontend/tursu/src/Profiles/Customer/Product.js
  Frontend/tursu/src/Profiles/Vendor/AddProduct.js
  Frontend/tursu/src/Profiles/Vendor/Product.js
  Frontend/tursu/src/Profiles/Vendor/VendorProfilePage.js
  Frontend/tursu/src/Profiles/Vendor/VendorSidebar.js
  Frontend/tursu/src/Review.js
  Frontend/tursu/src/Sign/Login.js
Labels: frontend, priority:high, type:enhancement, type:implementation

#293 Frontend feature/vendor page
  Frontend/tursu/src/Profiles/Vendor/MyInfo.js
  Frontend/tursu/src/Profiles/Vendor/MyOrders.js
  Frontend/tursu/src/Profiles/Vendor/MyProducts.js
  Frontend/tursu/src/Profiles/Vendor/OfferedProduct.js
  Frontend/tursu/src/Profiles/Vendor/Order.js
  Frontend/tursu/src/Profiles/Vendor/Product.js
Labels: frontend, priority:high, status:in-progress, type:implementation

#292 Backend feature/stock fix
  backend/order/views.py
Labels: backend, priority:urgent, status:completed

#294 Added user info to signup response
  backend/registered_user/views.py
Labels: backend, priority:high, type:code-review, type:enhancement

#298 Backend feature/admin ban user delete comment
  backend/tursu_admin/urls.py
  backend/tursu_admin/views.py
Labels: backend, priority:medium, type:code-review

#305 Frontend bugfix/add product image uploading not working
  Frontend/tursu/src/Profiles/Vendor/AddProduct.js
Labels: frontend, priority:high, status:completed, type:bug

#300 Frontend feature/vendor orders
  Frontend/tursu/package-lock.json
  Frontend/tursu/package.json
  Frontend/tursu/src/Profiles/Customer/Product.js
  Frontend/tursu/src/Profiles/Vendor/OfferedProduct.js
  Frontend/tursu/src/Profiles/Vendor/Product.js
  Frontend/tursu/src/Profiles/Vendor/orderDelivery.js
Labels: frontend, priority:high, status:completed, type:implementation

#311 Android interface/shopping cart
  Android/TursuApp/app/src/main/java/com/example/tursuapp/adapter/ShoppingCartAdapter.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/ApiService.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/responses/CreateOrderResponse.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/responses/ShoppingCartProductResponse.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/responses/ShoppingCartResponse.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/HomePageActivity.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/home/HomeFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/payment/PaymentFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/productpage/ProductPageFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/shopping_cart/ShoppingCartFragment.kt
  Android/TursuApp/app/src/main/res/drawable/minus.webp
  Android/TursuApp/app/src/main/res/drawable/plus.jpg
  Android/TursuApp/app/src/main/res/layout/fragment_account.xml
  Android/TursuApp/app/src/main/res/layout/fragment_paymentpage.xml
  Android/TursuApp/app/src/main/res/layout/fragment_shopping_cart.xml
  Android/TursuApp/app/src/main/res/layout/h_lists_popup_layout.xml
  Android/TursuApp/app/src/main/res/layout/lists_popup_layout.xml
  Android/TursuApp/app/src/main/res/layout/order_layout.xml
  Android/TursuApp/app/src/main/res/layout/product_for_shopping_cart.xml
  Android/TursuApp/app/src/main/res/layout/product_order_layout.xml
Labels: android, priority:medium, status:completed, type:implementation

#315 logout is implemented.
  Frontend/tursu/src/NavBar.js
Labels: frontend, priority:high, status:completed, type:bug

#321 Frontend bugfix/sign adjustment
  Frontend/tursu/package-lock.json
  Frontend/tursu/package.json
  Frontend/tursu/src/Sign/Login.js
  Frontend/tursu/src/Sign/Registration.js
  Frontend/tursu/src/Sign/customer_registration.js
  Frontend/tursu/src/Sign/sign_components.css
  Frontend/tursu/src/Sign/vendor_registration.js
Labels: frontend, priority:high, status:completed, type:enhancement

#318 Anroid interface/vendor orders
  Android/TursuApp/app/src/main/java/com/example/tursuapp/adapter/VendorOrderAdapter.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/ApiService.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/responses/VendorDataResponse.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/home/HomeFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/order/DayEstimatorFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/order/VendorGiveOrderFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/order/VendorOrderFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/order/VendorOrderViewModel.kt
  Android/TursuApp/app/src/main/res/layout/fragment_vendor_give_order.xml
  Android/TursuApp/app/src/main/res/layout/fragment_vendor_order_detail.xml
  Android/TursuApp/app/src/main/res/layout/vendor_day_estimator_pop_up.xml
  Android/TursuApp/app/src/main/res/layout/vendor_order_layout.xml
Labels: android, priority:medium, status:completed, type:implementation

#328 Frontend feature/send order
  Frontend/tursu/src/Checkout.js
Labels: frontend, priority:high, type:documentation

#329 Android feature/add product
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/ApiService.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/home/HomeFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/product/ProductAddFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/product/ProductAddModel.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/vendorproductpage/VendorProductPageFragment.kt
  Android/TursuApp/app/src/main/res/layout/fragment_productadd.xml
  Android/TursuApp/app/src/main/res/values/colors.xml
  Android/TursuApp/app/src/main/res/values/strings.xml
  Android/TursuApp/app/src/main/res/values/styles.xml
Labels: android, priority:medium, status:in-progress, type:implementation

#330 Added logout functionality.
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/ApiService.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/profile/ProfileFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/login/LoginActivity.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/signup/SignUpActivity.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/signup/VendorSignupActivity.kt
  Android/TursuApp/app/src/main/res/layout/fragment_customer_profile.xml
Labels: android, priority:urgent, status:completed
