Repository bounswe/bounswe2020group1, pull requests merged in 2021-01, with the labels that each got.

#348 Public vendor page endpoint
  backend/vendor_page/urls.py
  backend/vendor_page/views.py
Labels: backend, priority:urgent, type:code-review, type:enhancement

#238 Backend feature/messaging
  backend/messaging/__init__.py
  backend/messaging/admin.py
  backend/messaging/apps.py
  backend/messaging/models.py
  backend/messaging/tests.py
  backend/messaging/urls.py
  backend/messaging/views.py
  backend/tursu/settings.py
  backend/tursu/urls.py
Labels: backend, priority:low, type:enhancement, type:implementation

#341 Filtering is updated to handle multiple selections
  backend/filter_sort/utils.py
Labels: backend, priority:low, type:code-review, type:enhancement

#345 Android feature/comment
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/ApiService.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/order/CustomerOrdersFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/productpage/ProductPageFragment.kt
  Android/TursuApp/app/src/main/res/drawable/ic_baseline_add_comment_24.xml
  Android/TursuApp/app/src/main/res/drawable/imageborder.xml
  Android/TursuApp/app/src/main/res/layout/comment_add_popup_layout.xml
  Android/TursuApp/app/src/main/res/layout/fragment_productpage.xml
  Android/TursuApp/app/src/main/res/layout/product_order_layout.xml
Labels: android, priority:medium, status:completed, type:implementation

#353 Frontend feature/create message flow
  Frontend/tursu/package-lock.json
  Frontend/tursu/package.json
  Frontend/tursu/src/MessagingPage.js
  Frontend/tursu/src/NavBar.css
  Frontend/tursu/src/NavBar.js
Labels: frontend, priority:medium, status:in-progress, type:enhancement, type:implementation

#356 Frontend feature/new chat
  Frontend/tursu/src/MessagingPage.js
  Frontend/tursu/src/NewChatPopUp.js
  Frontend/tursu/src/Profiles/Vendor/orderDelivery.js
  Frontend/tursu/src/Sign/customer_registration.js
  Frontend/tursu/src/Sign/vendor_registration.js
Labels: frontend, priority:medium, status:in-progress, type:documentation, type:implementation

#347 Backend feature/activity streams
  backend/activity_streams/__init__.py
  backend/activity_streams/admin.py
  backend/activity_streams/apps.py
  backend/activity_streams/models.py
  backend/activity_streams/tests.py
  backend/activity_streams/urls.py
  backend/activity_streams/views.py
  backend/comment/__init__.py
  backend/comment/apps.py
  backend/order/__init__.py
  backend/order/apps.py
  backend/product/__init__.py
  backend/product/apps.py
  backend/product/models.py
  backend/product/views.py
  backend/registered_user/__init__.py
  backend/registered_user/apps.py
  backend/registered_user/models.py
  backend/requirements.txt
  backend/shopping_cart/__init__.py
  backend/shopping_cart/apps.py
  backend/shopping_list/__init__.py
  backend/shopping_list/apps.py
  backend/tursu/settings.py
  backend/tursu/urls.py
Labels: backend, priority:medium, type:code-review, type:enhancement

#364 Notification and Alert logic
  backend/notifications/__init__.py
  backend/notifications/admin.py
  backend/notifications/apps.py
  backend/notifications/models.py
  backend/notifications/tests.py
  backend/notifications/types.py
  backend/notifications/urls.py
  backend/notifications/utils.py
  backend/notifications/views.py
  backend/order/views.py
  backend/product/views.py
  backend/registered_user/models.py
  backend/tursu/settings.py
  backend/tursu/urls.py
  backend/tursu_admin/views.py
Labels: backend, priority:high, status:in-progress

#358 Android feature/public vendor page
  Android/TursuApp/app/src/main/java/com/example/tursuapp/adapter/PublicVendorInfoAdapter.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/ApiService.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/responses/PublicVendorResponse.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/home/HomeFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/profile/PublicVendorFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/profile/PublicVendorModel.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/signup/VendorSignupActivity.kt
  Android/TursuApp/app/src/main/res/layout/fragment_publicvendorpage.xml
Labels: android, priority:medium, status:completed, type:implementation

#363 Frontend feature/vendor profile
  Frontend/tursu/src/App.js
  Frontend/tursu/src/ProductDetailPage.js
  Frontend/tursu/src/Search.js
  Frontend/tursu/src/VendorBox.js
  Frontend/tursu/src/VendorPublicProfile.js
Labels: frontend, priority:high, type:implementation

#375 Android interface/messaging
  Android/TursuApp/app/build.gradle
  Android/TursuApp/app/src/main/java/com/example/tursuapp/adapter/MessageAdapter.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/adapter/MessageFlowAdapterForCustomer.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/ApiService.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/RetrofitClient.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/responses/CustomerMsgFlowResponse.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/responses/SingleMsgResponse.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/responses/VendorMsgFlowResponse.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/HomePageActivity.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/home/HomeFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/message/ChatFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/message/MessageFlowFragment.kt
  Android/TursuApp/app/src/main/res/drawable/my_message_bubble.xml
  Android/TursuApp/app/src/main/res/drawable/new_message_icon.png
  Android/TursuApp/app/src/main/res/drawable/open_message_icon.png
  Android/TursuApp/app/src/main/res/drawable/other_message_bubble.xml
  Android/TursuApp/app/src/main/res/layout/fragment_customer_chat.xml
  Android/TursuApp/app/src/main/res/layout/fragment_message_flow.xml
  Android/TursuApp/app/src/main/res/layout/message_flow_item.xml
  Android/TursuApp/app/src/main/res/layout/message_flow_item_vendor.xml
  Android/TursuApp/app/src/main/res/layout/my_message.xml
  Android/TursuApp/app/src/main/res/layout/other_message.xml
  Android/TursuApp/app/src/main/res/values/colors.xml
  Android/TursuApp/app/src/main/res/values/dimens.xml
Labels: android, type:enhancement, type:implementation

#368 Frontend feature/notification
  Frontend/tursu/src/NavBar.js
  Frontend/tursu/src/Profiles/Customer/CustomerProfilePage.js
  Frontend/tursu/src/Profiles/Customer/CustomerSidebar.js
  Frontend/tursu/src/Profiles/Customer/MyNotifications.js
  Frontend/tursu/src/Profiles/Vendor/MyNotifications.js
  Frontend/tursu/src/Profiles/Vendor/VendorProfilePage.js
  Frontend/tursu/src/Profiles/Vendor/VendorSidebar.js
Labels: frontend, priority:high, status:in-progress, type:implementation

#376 Frontend refactor/filter
  Frontend/tursu/src/Category.js
  Frontend/tursu/src/FilterBar.js
  Frontend/tursu/src/FilterOptions.js
  Frontend/tursu/src/FilterSlider.js
  Frontend/tursu/src/OptionList.js
  Frontend/tursu/src/Search.js
Labels: frontend

#385 Backend Verification Code Logic
  backend/registered_user/models.py
  backend/registered_user/urls.py
  backend/registered_user/views.py
  backend/tursu/settings.py
Labels: backend, priority:high, status:completed, type:code-review, type:implementation

#383 Android refactor/product details
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/ApiService.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/order/CustomerOrdersFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/productpage/ProductPageFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/profile/PublicVendorFragment.kt
  Android/TursuApp/app/src/main/res/drawable/ic_baseline_verified_user_24.xml
  Android/TursuApp/app/src/main/res/layout/comment_add_popup_layout.xml
  Android/TursuApp/app/src/main/res/layout/fragment_productpage.xml
  Android/TursuApp/app/src/main/res/layout/fragment_publicvendorpage.xml
Labels: android, priority:medium, status:completed, type:bug, type:implementation

#389 Android feature/multi filtering
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/HomePageActivity.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/home/HomeFragment.kt
  Android/TursuApp/app/src/main/res/layout/filter_popup_layout.xml
Labels: android, priority:medium, status:completed, type:code-review, type:implementation

#395 Backend Forgot Password Endpoint
  backend/registered_user/urls.py
  backend/registered_user/views.py
Labels: backend, priority:medium, status:completed, type:implementation

#398 Frontend refactor/admin page
  Frontend/tursu/src/AdminPanel.js
  Frontend/tursu/src/FilterOptions.js
  Frontend/tursu/src/NonverifiedProductBox.js
  Frontend/tursu/src/Search.js
Labels: frontend, priority:high, status:in-progress, type:bug, type:implementation

#392 Frontend feature/email verification
  Frontend/tursu/src/Sign/EmailVerification.js
  Frontend/tursu/src/Sign/Login.js
  Frontend/tursu/src/Sign/Registration.js
  Frontend/tursu/src/Sign/Sign.js
  Frontend/tursu/src/Sign/customer_registration.js
  Frontend/tursu/src/Sign/sign_components.css
  Frontend/tursu/src/Sign/vendor_registration.js
Labels: frontend, priority:high, type:enhancement, type:implementation

#401 Frontend feature/google login
  Frontend/tursu/src/Sign/Login.js
  Frontend/tursu/src/Sign/customer_registration.js
  Frontend/tursu/src/Sign/sign_components.css
  Frontend/tursu/src/Sign/vendor_registration.js
Labels: frontend, priority:high, status:completed, type:implementation, type:requirements

#399 Frontend BugFix regarding adding a comment
  Frontend/tursu/src/Profiles/Customer/Product.js
Labels: frontend, priority:medium, status:completed, type:bug

#400 Frontend BugFix regarding negative values when adding a product
  Frontend/tursu/src/Profiles/Vendor/AddProduct.js
Labels: frontend, priority:low, status:completed, type:bug

#408 Android feature/google signin
  .env
  Android/TursuApp/.idea/codeStyles/Project.xml
  Android/TursuApp/app/build.gradle
  Android/TursuApp/app/src/main/AndroidManifest.xml
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/ApiService.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/profile/ProfileFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/login/LoginActivity.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/signup/MapsActivity.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/signup/SignUpActivity.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/signup/VendorSignupActivity.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/verification/VerificationActivity.kt
  Android/TursuApp/app/src/main/res/drawable/btn_google_signin_light_normal_xhdpi.9.png
  Android/TursuApp/app/src/main/res/layout/activity_login.xml
  Android/TursuApp/app/src/main/res/layout/activity_signup.xml
  Android/TursuApp/app/src/main/res/layout/activity_verification.xml
  Android/TursuApp/app/src/main/res/values/strings.xml
  backend/product/migrations/0001_initial.py
  backend/product/migrations/__init__.py
  backend/registered_user/migrations/0001_initial.py
  backend/registered_user/migrations/0002_location_city.py
  backend/registered_user/migrations/__init__.py
Labels: android, priority:high, type:code-review

#418 Android interface/message initiate
  Android/TursuApp/app/src/main/java/com/example/tursuapp/adapter/ChildAdapter.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/adapter/MessageFlowAdapterForCustomer.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/adapter/ParentAdapter.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/adapter/RecommendationProductAdapter.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/ApiService.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/HomePageActivity.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/home/HomeFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/message/VendorInitiateChatFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/productpage/ProductPageFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/profile/PublicVendorFragment.kt
  Android/TursuApp/app/src/main/res/drawable/customized_background.xml
  Android/TursuApp/app/src/main/res/layout/fragment_home.xml
  Android/TursuApp/app/src/main/res/layout/fragment_shopping_lists.xml
  Android/TursuApp/app/src/main/res/layout/fragment_vendor_initiate_chat.xml
  Android/TursuApp/app/src/main/res/layout/parent_recycler.xml
  Android/TursuApp/app/src/main/res/layout/text_view.xml
Labels: android, type:enhancement

#417 Frontend feature/third party software
  Frontend/tursu/src/Acknowledgements.js
  Frontend/tursu/src/App.js
  Frontend/tursu/src/Footer.js
  Frontend/tursu/src/Sign/ForgotPassword.js
  Frontend/tursu/src/Sign/sign_components.css
Labels: frontend, priority:medium, status:completed, type:enhancement, type:implementation

#416 Frontend feature/activity streams
  Frontend/tursu/src/ActivityStream.js
  Frontend/tursu/src/App.js
  Frontend/tursu/src/NavBar.js
Labels: frontend, priority:medium, status:completed, type:documentation

#433 Frontend refactor/login components
  Frontend/tursu/src/MessagingPage.js
  Frontend/tursu/src/Sign/EmailVerification.js
  Frontend/tursu/src/Sign/ForgotPassword.js
  Frontend/tursu/src/Sign/Login.js
  Frontend/tursu/src/Sign/Registration.js
  Frontend/tursu/src/Sign/customer_registration.js
  Frontend/tursu/src/Sign/vendor_registration.js
Labels: frontend, priority:high, type:enhancement

#430 Frontend refactor/messaging
  Frontend/tursu/src/MessagingPage.js
Labels: frontend, priority:high, type:enhancement

#434 Frontend bugfix/info edit
  Frontend/tursu/src/NavBar.js
  Frontend/tursu/src/Profiles/Customer/MyInfo.js
  Frontend/tursu/src/Profiles/Vendor/MyInfo.js
Labels: frontend, priority:high, status:completed, type:bug

#439 Bugfix on adding a comment, adding/editing a product
  Frontend/tursu/src/Profiles/Customer/Product.js
  Frontend/tursu/src/Profiles/Vendor/AddProduct.js
  Frontend/tursu/src/Profiles/Vendor/EditProduct.js
Labels: frontend, priority:medium, status:completed, type:bug

#444 Frontend test/password strength
  Frontend/tursu/src/Profiles/Customer/CustomerSidebar.js
  Frontend/tursu/src/Profiles/Customer/EditInfoBox.js
  Frontend/tursu/src/Profiles/Customer/Product.js
  Frontend/tursu/src/Profiles/Customer/Summary.js
  Frontend/tursu/src/Profiles/Vendor/EditInfoBox.js
  Frontend/tursu/src/Profiles/Vendor/Product.js
  Frontend/tursu/src/Profiles/Vendor/VendorSidebar.js
  Frontend/tursu/src/Profiles/Vendor/orderDelivery.js
  Frontend/tursu/src/Sign/Login.js
  Frontend/tursu/src/Sign/Password Strength Tests/customer_registration1.test.js
  Frontend/tursu/src/Sign/Password Strength Tests/customer_registration2.test.js
  Frontend/tursu/src/Sign/Password Strength Tests/customer_registration3.test.js
  Frontend/tursu/src/Sign/Password Strength Tests/customer_registration4.test.js
  Frontend/tursu/src/Sign/Password Strength Tests/customer_registration5.test.js
  Frontend/tursu/src/Sign/Password Strength Tests/vendor_registration1.test.js
  Frontend/tursu/src/Sign/Password Strength Tests/vendor_registration2.test.js
  Frontend/tursu/src/Sign/Password Strength Tests/vendor_registration3.test.js
  Frontend/tursu/src/Sign/Password Strength Tests/vendor_registration4.test.js
  Frontend/tursu/src/Sign/Password Strength Tests/vendor_registration5.test.js
Labels: frontend, priority:medium, status:completed, type:bug, type:code-review, type:testing

#438 logout bug is fixed
  Frontend/tursu/src/NavBar.js
  Frontend/tursu/src/Sign/Login.js
Labels: frontend, priority:high, type:bug

#448 Android interface/unit test
  Android/TursuApp/app/build.gradle
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/home/HomeFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/message/ChatFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/message/VendorInitiateChatFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/order/CustomerOrdersFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/order/DayEstimatorFragment.kt
  Android/TursuApp/app/src/test/java/com/example/tursuapp/authentication/homepage/HomePageActivityTest.kt
  Android/TursuApp/app/src/test/java/com/example/tursuapp/authentication/homepage/ui/payment/PaymentFragmentTest.kt
Labels: android, priority:medium, status:completed, type:testing

#446 Android feature/upload photo
  Android/TursuApp/app/src/main/AndroidManifest.xml
  Android/TursuApp/app/src/main/java/com/example/tursuapp/adapter/VendorProductAdapter.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/ApiService.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/product/ProductAddFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/vendorproductpage/VendorProductPageFragment.kt
  Android/TursuApp/app/src/main/res/drawable/ic_baseline_photo_library_24.xml
  Android/TursuApp/app/src/main/res/layout/fragment_productadd.xml
  Android/TursuApp/app/src/main/res/layout/update_product_popup_layout.xml
  Android/TursuApp/app/src/main/res/layout/upload_photo_popup.xml
Labels: android, priority:medium, status:completed, type:implementation

#449 Frontend test/edit product
  Frontend/tursu/src/Profiles/Vendor/EditProduct.js
  Frontend/tursu/src/Profiles/Vendor/vendorTests/editProductTest1.js
  Frontend/tursu/src/Profiles/Vendor/vendorTests/editProductTest2.js
  Frontend/tursu/src/Profiles/Vendor/vendorTests/editProductTest3.js
  Frontend/tursu/src/Profiles/Vendor/vendorTests/editProductTest4.js
  Frontend/tursu/src/Profiles/Vendor/vendorTests/editProductTest5.js
  Frontend/tursu/src/Profiles/Vendor/vendorTests/editProductTest6.js
Labels: frontend, priority:low, status:completed, type:code-review, type:testing

#459 Android feature/notifications
  Android/TursuApp/.idea/misc.xml
  Android/TursuApp/app/src/main/AndroidManifest.xml
  Android/TursuApp/app/src/main/java/com/example/tursuapp/adapter/PriceAlertAdapter.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/ApiService.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/responses/PriceAlertsResponse.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/productpage/PriceAlertsActivity.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/productpage/ProductPageFragment.kt
  Android/TursuApp/app/src/main/res/layout/activity_price_alerts.xml
  Android/TursuApp/app/src/main/res/layout/fragment_productpage.xml
  Android/TursuApp/app/src/main/res/layout/price_alert_layout.xml
Labels: android, priority:urgent, type:code-review

#457 Android test/unit test
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/product/ProductAddFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/vendorproductpage/VendorProductPageFragment.kt
  Android/TursuApp/app/src/main/res/layout/fragment_productadd.xml
  Android/TursuApp/app/src/main/res/layout/update_product_popup_layout.xml
  Android/TursuApp/app/src/test/java/com/example/tursuapp/authentication/homepage/ui/product/ProductAddFragmentTest.kt
  Android/TursuApp/app/src/test/java/com/example/tursuapp/authentication/homepage/ui/vendorproductpage/VendorProductPageFragmentTest.kt
  Android/TursuApp/gradle/wrapper/gradle-wrapper.properties
Labels: android, priority:medium, status:completed, type:bug, type:testing

#462 Android feature/stock notification
  Android/TursuApp/app/src/main/java/com/example/tursuapp/adapter/VendorAdapter.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/ApiService.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/api/responses/VendorResponse.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/productpage/ProductPageFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/vendorproductpage/VendorProductPageFragment.kt
  Android/TursuApp/app/src/main/res/drawable/ic_baseline_add_alert_24.xml
  Android/TursuApp/app/src/main/res/layout/fragment_productpage.xml
  Android/TursuApp/app/src/main/res/layout/fragment_shopping_lists.xml
  Android/TursuApp/app/src/main/res/layout/lists_popup_layout.xml
Labels: android, priority:medium, status:completed, type:implementation

#467 Backend Test/Notifications
  backend/notifications/tests.py
Labels: backend, status:completed, type:testing

#468 Backend
  .travis.yml
  backend/activity_streams/__init__.py
  backend/activity_streams/admin.py
  backend/activity_streams/apps.py
  backend/activity_streams/models.py
  backend/activity_streams/tests.py
  backend/activity_streams/urls.py
  backend/activity_streams/views.py
  backend/comment/__init__.py
  backend/comment/apps.py
  backend/comment/views.py
  backend/customer_page/views.py
  backend/entrypoint.sh
  backend/filter_sort/utils.py
  backend/messaging/__init__.py
  backend/messaging/admin.py
  backend/messaging/apps.py
  backend/messaging/models.py
  backend/messaging/tests.py
  backend/messaging/urls.py
  backend/messaging/views.py
  backend/notifications/__init__.py
  backend/notifications/admin.py
  backend/notifications/apps.py
  backend/notifications/models.py
  backend/notifications/tests.py
  backend/notifications/types.py
  backend/notifications/urls.py
  backend/notifications/utils.py
  backend/notifications/views.py
  backend/order/__init__.py
  backend/order/apps.py
  backend/order/views.py
  backend/product/__init__.py
  backend/product/apps.py
  backend/product/models.py
  backend/product/views.py
  backend/registered_user/__init__.py
  backend/registered_user/apps.py
  backend/registered_user/models.py
  backend/registered_user/tests.py
  backend/registered_user/urls.py
  backend/registered_user/views.py
  backend/requirements.txt
  backend/search/views.py
  backend/shopping_cart/__init__.py
  backend/shopping_cart/apps.py
  backend/shopping_list/__init__.py
  backend/shopping_list/apps.py
  backend/tursu/settings.py
  backend/tursu/urls.py
  backend/tursu_admin/views.py
  backend/vendor_page/urls.py
  backend/vendor_page/views.py
  cd-backend.sh
  deploy_key.enc
  env.conf
Labels: Team Task, backend, priority:high, status:completed, type:implementation

#469 backend - Made host URL configurable
  backend/helper/utils.py
  backend/home/views.py
  backend/order/views.py
  backend/product_page/views.py
  backend/search/views.py
  backend/shopping_cart/views.py
  backend/shopping_list/views.py
  backend/tursu/settings.py
  backend/vendor_page/views.py
Labels: backend, type:deployment

#470 unit tests for shopping cart sum functionality is added.
  Frontend/tursu/package-lock.json
  Frontend/tursu/package.json
  Frontend/tursu/src/App.js
  Frontend/tursu/src/ShoppingCart-List/ShoppingCart.js
  Frontend/tursu/src/ShoppingCart-List/ShoppingList.js
  Frontend/tursu/src/ShoppingCart-List/tests/ShoppingCart.test.js
  Frontend/tursu/src/ShoppingCart-List/tests/ShoppingCart2.test.js
  Frontend/tursu/src/ShoppingCart-List/tests/ShoppingCart3.test.js
  Frontend/tursu/src/ShoppingCart-List/tests/ShoppingCart4.test.js
Labels: frontend, priority:medium, status:completed, type:testing

#474 Android
  Android/TursuApp/app/src/main/ic_launcher-playstore.png
  Android/TursuApp/app/src/main/java/com/example/tursuapp/adapter/ProductAdapter.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/adapter/PublicVendorInfoAdapter.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/adapter/ShoppingCartAdapter.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/adapter/SingleProductAdapter.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/adapter/VendorOrderAdapter.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/adapter/VendorProductAdapter.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/order/CustomerOrdersFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/productpage/ProductPageFragment.kt
  Android/TursuApp/app/src/main/java/com/example/tursuapp/authentication/homepage/ui/vendorproductpage/VendorProductPageFragment.kt
  Android/TursuApp/app/src/main/res/drawable/ic_launcher_background.xml
  Android/TursuApp/app/src/main/res/layout/activity_vendor_signup.xml
  Android/TursuApp/app/src/main/res/layout/fragment_customer_chat.xml
  Android/TursuApp/app/src/main/res/layout/fragment_paymentpage.xml
  Android/TursuApp/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  Android/TursuApp/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  Android/TursuApp/app/src/main/res/mipmap-hdpi/ic_launcher.png
  Android/TursuApp/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  Android/TursuApp/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  Android/TursuApp/app/src/main/res/mipmap-mdpi/ic_launcher.png
  Android/TursuApp/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  Android/TursuApp/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  Android/TursuApp/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  Android/TursuApp/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  Android/TursuApp/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  Android/TursuApp/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  Android/TursuApp/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  Android/TursuApp/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  Android/TursuApp/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  Android/TursuApp/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  Android/TursuApp/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  Android/TursuApp/app/src/main/res/values/strings.xml
Labels: android, priority:high, status:completed, type:deployment
